<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>

    
<body>
    <div class="container mx-auto px-4">
        <header class="text-gray-600 body-font">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
              <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
              <a href="/"><img src="logo.png" height="200px" width="200px" alt=""></a>
              </a>
              <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a  href="/"class="mr-5 hover:text-yellow-500">Home</a>
                <a href="/sofaGallary" class="mr-5 hover:text-yellow-500">Gallery</a>
                <a href="/animatedChair" class="mr-5 hover:text-yellow-500">Animated</a>
                <a href='/contact' class="mr-5 hover:text-yellow-500">Contact </a>
              </nav>
              </div>
        </header>
        <h1 class="mt-10 mb-5 text-center text-3xl">Welcome to Glauben Enterprise Gallery.</h1>
    <h3 class="mb-10 text-center text-xl">The Sofa Images</h3>

    <!-- Image gird -->
    <div class="p-20 grid grid-cols-4 gap-5">
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://berkshirefurniture.com/wp-content/uploads/2020/12/Derry-Sofa-2.jpg" alt="Flower"
            onclick="showModal('https://berkshirefurniture.com/wp-content/uploads/2020/12/Derry-Sofa-2.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://secure.img1-fg.wfcdn.com/im/40512449/resize-h380-w380%5Ecompr-r70/1063/106385847/default_name.jpg" alt="Flower"
            onclick="showModal('https://secure.img1-fg.wfcdn.com/im/40512449/resize-h380-w380%5Ecompr-r70/1063/106385847/default_name.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="http://cdn.shopify.com/s/files/1/0509/4640/8602/products/Gharnish-luxury-l-shape-Corner-sofa-hyderabad-online-bottle-green-GHSF013_grande.jpg?v=1634584029" alt="Flower"
            onclick="showModal('http://cdn.shopify.com/s/files/1/0509/4640/8602/products/Gharnish-luxury-l-shape-Corner-sofa-hyderabad-online-bottle-green-GHSF013_grande.jpg?v=1634584029')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://secure.img1-cg.wfcdn.com/im/75460424/resize-h210-w210%5Ecompr-r85/9109/91091502/Hykkon+Stclair+Reversible+Sleeper+Corner+Sofa+Chaise.jpg" alt="Flower"
            onclick="showModal('https://secure.img1-cg.wfcdn.com/im/75460424/resize-h210-w210%5Ecompr-r85/9109/91091502/Hykkon+Stclair+Reversible+Sleeper+Corner+Sofa+Chaise.jpg')" />
        
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://i1.adis.ws/i/fv/PRODZFRSP000000000046325_celestia_4-seater-fabric-sofa__001?$product$&w=573&fmt=webp" alt="Flower"
            onclick="showModal('https://ii1.pepperfry.com/media/catalog/product/p/e/1100x1210/perdue-metal-dining-chair-in-blue-colour---bohemiana-by-pepperfry-perdue-metal-dining-chair-in-blue--lfk4td.jpg')" />
        
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://cdn11.bigcommerce.com/s-92uy6aodeu/images/stencil/1280x1280/products/500/49304/LZCLAUDE-GREEN_1__74160__07307.1618796335.jpg?c=1?imbypass=on" alt="Flower"
            onclick="showModal('https://cdn11.bigcommerce.com/s-92uy6aodeu/images/stencil/1280x1280/products/500/49304/LZCLAUDE-GREEN_1__74160__07307.1618796335.jpg?c=1?imbypass=on')" />
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://sc04.alicdn.com/kf/H4e11dced16704fe4ab53ffebadc6cd76K.jpg" alt="Flower"
            onclick="showModal('https://sc04.alicdn.com/kf/H4e11dced16704fe4ab53ffebadc6cd76K.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://www.iofficefurniture.com.au/wp-content/uploads/2016/08/DSC_7205-resize.jpg" alt="Flower"
            onclick="showModal('https://www.iofficefurniture.com.au/wp-content/uploads/2016/08/DSC_7205-resize.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://www.iofficefurniture.com.au/wp-content/uploads/2016/08/DSC_7165-resize.jpg" alt="Flower"
            onclick="showModal('https://www.iofficefurniture.com.au/wp-content/uploads/2016/08/DSC_7165-resize.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://cdn.shopify.com/s/files/1/1657/4279/products/chesterfield_Recovered_-29_800x.png?v=1631007046" alt="Flower"
            onclick="showModal('https://cdn.shopify.com/s/files/1/1657/4279/products/chesterfield_Recovered_-29_800x.png?v=1631007046')" />
        
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://cdn.shopify.com/s/files/1/1312/9255/products/MEIPATSOFA.jpg?v=1567396094" alt="Flower"
            onclick="showModal('https://cdn.shopify.com/s/files/1/1312/9255/products/MEIPATSOFA.jpg?v=1567396094')" />
        
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://cdn.barkerandstonehouse.co.uk/media/catalog/product/cache/82ca66450109623f9e7cae95bd81b572/c/0/c0nzsrcgcatb_1_zoom.jpg" alt="Flower"
            onclick="showModal('https://cdn.barkerandstonehouse.co.uk/media/catalog/product/cache/82ca66450109623f9e7cae95bd81b572/c/0/c0nzsrcgcatb_1_zoom.jpg')" />
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://www.bludot.com.au/media/catalog/product/s/n/sn1-lacsec-bk_frontlow-sunday-l-sectional-left-chaise-sanford-black_1_1.jpg?optimize=medium&fit=bounds&height=560&width=700&canvas=700:560" alt="Flower"
            onclick="showModal('https://www.bludot.com.au/media/catalog/product/s/n/sn1-lacsec-bk_frontlow-sunday-l-sectional-left-chaise-sanford-black_1_1.jpg?optimize=medium&fit=bounds&height=560&width=700&canvas=700:560')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://icarefurnishers.com/assets/images/thumbs/602fa786503d17346c3c791e_parker-l-shape-6-seater-corner-sofa-set-in-ash-blue-color_400.webp" alt="Flower"
            onclick="showModal('https://icarefurnishers.com/assets/images/thumbs/602fa786503d17346c3c791e_parker-l-shape-6-seater-corner-sofa-set-in-ash-blue-color_400.webp')" />
        
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://img.made.com/image/upload/c_pad,d_madeplusgrey.svg,f_auto,w_432,dpr_1.0,q_auto:good,b_rgb:f5f6f4/v4/catalog/product/asset/4/1/c/c/41ccf69976e0ae8aa7af26d46f3741a1ccee8cc4_SOFSMN023GRY_UK_Samona_Left_Hand_Facing_Corner_Sofa_Mineral_Cotton_Linen_Mix_ar1_1_PL_PS.png" alt="Flower"
            onclick="showModal('https://img.made.com/image/upload/c_pad,d_madeplusgrey.svg,f_auto,w_432,dpr_1.0,q_auto:good,b_rgb:f5f6f4/v4/catalog/product/asset/4/1/c/c/41ccf69976e0ae8aa7af26d46f3741a1ccee8cc4_SOFSMN023GRY_UK_Samona_Left_Hand_Facing_Corner_Sofa_Mineral_Cotton_Linen_Mix_ar1_1_PL_PS.png')" />
        
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJq4KtTCoOZxlaZoRi3v5FWcgaxIczeHuEGPS8E85T4WFPWpUjGp9bVRY2qldCUfj0TDE&usqp=CAU" alt="Flower"
            onclick="showModal('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJq4KtTCoOZxlaZoRi3v5FWcgaxIczeHuEGPS8E85T4WFPWpUjGp9bVRY2qldCUfj0TDE&usqp=CAU')" /> 
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://cdn.shopify.com/s/files/1/0081/2885/6149/products/Untitled-16_b95b2119-89c4-4970-9683-a7b322890e94_1024x.jpg?v=1624699544" alt="Flower"
            onclick="showModal('https://cdn.shopify.com/s/files/1/0081/2885/6149/products/Untitled-16_b95b2119-89c4-4970-9683-a7b322890e94_1024x.jpg?v=1624699544')" />  
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://www.format-store.com/images/1635864355.jpg" alt="Flower"
            onclick="showModal('https://www.format-store.com/images/1635864355.jpg')" />        
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://www.flexform.it/sites/default/files/styles/product_teaser/public/product-teaser-images/bretton.jpg" alt="Flower"
            onclick="showModal('https://www.flexform.it/sites/default/files/styles/product_teaser/public/product-teaser-images/bretton.jpg')" />        
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://hatil.com/sites/default/files/styles/hatil_product_list_crop/public/Prune-251_0.jpg?itok=9pXuOOaN" alt="Flower"
            onclick="showModal('https://hatil.com/sites/default/files/styles/hatil_product_list_crop/public/Prune-251_0.jpg?itok=9pXuOOaN')" />        
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://image.architonic.com/img_pro2-4/121/0122/267-1-b.jpg" alt="Flower"
            onclick="showModal('https://image.architonic.com/img_pro2-4/121/0122/267-1-b.jpg')" />
           
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://www.bludot.com.au/media/catalog/product/s/n/sn1-lacsec-bk_frontlow-sunday-l-sectional-left-chaise-sanford-black_1_1.jpg?optimize=medium&fit=bounds&height=560&width=700&canvas=700:560" alt="Flower"
            onclick="showModal('https://www.bludot.com.au/media/catalog/product/s/n/sn1-lacsec-bk_frontlow-sunday-l-sectional-left-chaise-sanford-black_1_1.jpg?optimize=medium&fit=bounds&height=560&width=700&canvas=700:560')" />   
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://www.baygallery.com.au/pub/media/catalog/product/cache/c113412f5a0fe7c59f719dbfcba39dff/n/o/nova_package_b_charcoal_textured_grey_1600px.jpg" alt="Flower"
            onclick="showModal('https://www.baygallery.com.au/pub/media/catalog/product/cache/c113412f5a0fe7c59f719dbfcba39dff/n/o/nova_package_b_charcoal_textured_grey_1600px.jpg')" />                                   
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://icarefurnishers.com/assets/images/thumbs/602fa7a8503d17346c3c807a_parker-l-shape-6-seater-corner-sofa-set-in-ash-blue-color_400.webp" alt="Flower"
            onclick="showModal('https://icarefurnishers.com/assets/images/thumbs/602fa7a8503d17346c3c807a_parker-l-shape-6-seater-corner-sofa-set-in-ash-blue-color_400.webp')" />
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://www.bludot.com.au/media/catalog/product/c/l/cl1_rsecsm_cl_frontlow_2.jpg?optimize=medium&fit=bounds&height=560&width=700&canvas=700:560" alt="Flower"
            onclick="showModal('https://www.bludot.com.au/media/catalog/product/c/l/cl1_rsecsm_cl_frontlow_2.jpg?optimize=medium&fit=bounds&height=560&width=700&canvas=700:560')" /> 
           

    </div>

    <!-- The Modal -->
    <div id="modal"
        class="hidden fixed top-0 left-0 z-80 w-screen h-screen bg-black/70 flex justify-center items-center">

        <!-- The close button -->
        <a class="fixed z-90 top-6 right-8 text-white text-5xl font-bold" href="javascript:void(0)"
            onclick="closeModal()">&times;</a>

        <!-- A big image will be displayed here -->
        <img id="modal-img" class="max-w-[800px] max-h-[600px] object-cover" />
    </div>

    <script>
        // Get the modal by id
        var modal = document.getElementById("modal");

        // Get the modal image tag
        var modalImg = document.getElementById("modal-img");

        // this function is called when a small image is clicked
        function showModal(src) {
            modal.classList.remove('hidden');
            modalImg.src = src;
        }

        // this function is called when the close button is clicked
        function closeModal() {
            modal.classList.add('hidden');
        }
    </script>
    
     </div>   
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" defer></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer></script>       
</body>
</html>
