<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>

    
<body>
    <div class="container mx-auto px-4">
        <header class="text-gray-600 body-font">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
              <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
              <a href="/"><img src="logo.png" height="200px" width="200px" alt=""></a>
              </a>
              <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a  href="/"class="mr-5 hover:text-yellow-500">Home</a>
                <a href="sofaGallary" class="mr-5 hover:text-yellow-500">Gallery</a>
                <a href="/animatedChair" class="mr-5 hover:text-yellow-500">Animated</a>
                <a href='/contact' class="mr-5 hover:text-yellow-500">Contact </a>
              </nav>
              </div>
        </header>
        <h1 class="mt-10 mb-5 text-center text-3xl">Welcome to Glauben Enterprise Gallery.</h1>
    <h3 class="mb-10 text-center text-xl">The Table Images</h3>

    <!-- Image gird -->
    <div class="p-20 grid grid-cols-4 gap-5">
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://www.casabellafurniture.co.uk/media/catalog/product/cache/eb2e8d96f6b0cbe7510e63674675c292/S/a/SataraNaturalComputerDesk1.jpg" alt="Flower"
            onclick="showModal('https://www.casabellafurniture.co.uk/media/catalog/product/cache/eb2e8d96f6b0cbe7510e63674675c292/S/a/SataraNaturalComputerDesk1.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://static.songmics.com/fit-in/500x500/image/Product/ULWD51X-1/Side-Cabinet-Computer-Desk-ULWD51X-1.jpg" alt="Flower"
            onclick="showModal('https://static.songmics.com/fit-in/500x500/image/Product/ULWD51X-1/Side-Cabinet-Computer-Desk-ULWD51X-1.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://static.songmics.com/fit-in/500x500/image/Product/ULWD47X/47-Office-Study-Desk-ULWD47X-2.jpg" alt="Flower"
            onclick="showModal('https://static.songmics.com/fit-in/500x500/image/Product/ULWD47X/47-Office-Study-Desk-ULWD47X-2.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://static.songmics.co.uk/fit-in/500x500/image/Product/LWD71X/Computer-Desk-for-Corner-LWD71X-2.jpg" alt="Flower"
            onclick="showModal('https://static.songmics.co.uk/fit-in/500x500/image/Product/LWD71X/Computer-Desk-for-Corner-LWD71X-2.jpg')" />
        
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://static.songmics.ca/fit-in/300x300/image/Product/ULNT50X/Snack-Side-End-Table-ULNT50X-1.jpg" alt="Flower"
            onclick="showModal('https://static.songmics.ca/fit-in/300x300/image/Product/ULNT50X/Snack-Side-End-Table-ULNT50X-1.jpg')" />
        
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://static.songmics.co.uk/fit-in/500x500/image/Product/LET62BX/End-Table-with-Cabinet-LET62BX-1.jpg" alt="Flower"
            onclick="showModal('https://static.songmics.co.uk/fit-in/500x500/image/Product/LET62BX/End-Table-with-Cabinet-LET62BX-1.jpg')" />
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://i.pinimg.com/originals/6b/bb/04/6bbb04c107365126ff45874a245bfc81.jpg" alt="Flower"
            onclick="showModal('https://i.pinimg.com/originals/6b/bb/04/6bbb04c107365126ff45874a245bfc81.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://5.imimg.com/data5/GL/AD/MY-48700289/wooden-computer-table-500x500.jpg" alt="Flower"
            onclick="showModal('https://5.imimg.com/data5/GL/AD/MY-48700289/wooden-computer-table-500x500.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://www.carrigalinefurnitureandcarpets.ie/wp-content/uploads/2021/02/Roy-Oak-Desk.jpg" alt="Flower"
            onclick="showModal('https://www.carrigalinefurnitureandcarpets.ie/wp-content/uploads/2021/02/Roy-Oak-Desk.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://www.fortytwo.sg/media/catalog/product/cache/1/image/3000x/9df78eab33525d08d6e5fb8d27136e95/h/o/hortense_study_desk_1.png" alt="Flower"
            onclick="showModal('https://www.fortytwo.sg/media/catalog/product/cache/1/image/3000x/9df78eab33525d08d6e5fb8d27136e95/h/o/hortense_study_desk_1.png')" />
        
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://m.media-amazon.com/images/I/51ljCFBFVKS._SL1500_.jpg" alt="Flower"
            onclick="showModal('https://m.media-amazon.com/images/I/51ljCFBFVKS._SL1500_.jpg')" />
        
        <img class="w-full h-full object-cover cursor-pointer"
            src="http://cdn.shopify.com/s/files/1/0558/4640/4301/products/thumbnail_IMG-20210525-WA0084_1200x1200.jpg?v=1621944493" alt="Flower"
            onclick="showModal('http://cdn.shopify.com/s/files/1/0558/4640/4301/products/thumbnail_IMG-20210525-WA0084_1200x1200.jpg?v=1621944493')" />
            <img class="w-full h-full object-cover cursor-pointer"
            src="https://m.media-amazon.com/images/I/31mQVmOC26L._SL500_.jpg" alt="Flower"
            onclick="showModal('https://m.media-amazon.com/images/I/31mQVmOC26L._SL500_.jpg')" />

        <img class="w-full h-full object-cover cursor-pointer"
            src="https://5.imimg.com/data5/LJ/VT/MY-9460698/folding-study-500x500.jpg" alt="Flower"
            onclick="showModal('https://5.imimg.com/data5/LJ/VT/MY-9460698/folding-study-500x500.jpg')" />
        
        <img class="w-full h-full object-cover cursor-pointer"
            src="https://5.imimg.com/data5/QZ/RV/RU/SELLER-996221/500x500-7--500x500.jpg" alt="Flower"
            onclick="showModal('https://5.imimg.com/data5/QZ/RV/RU/SELLER-996221/500x500-7--500x500.jpg')" />
        
    
            
           

    </div>

    <!-- The Modal -->
    <div id="modal"
        class="hidden fixed top-0 left-0 z-80 w-screen h-screen bg-black/70 flex justify-center items-center">

        <!-- The close button -->
        <a class="fixed z-90 top-6 right-8 text-white text-5xl font-bold" href="javascript:void(0)"
            onclick="closeModal()">&times;</a>

        <!-- A big image will be displayed here -->
        <img id="modal-img" class="max-w-[800px] max-h-[600px] object-cover" />
    </div>

    <script>
        // Get the modal by id
        var modal = document.getElementById("modal");

        // Get the modal image tag
        var modalImg = document.getElementById("modal-img");

        // this function is called when a small image is clicked
        function showModal(src) {
            modal.classList.remove('hidden');
            modalImg.src = src;
        }

        // this function is called when the close button is clicked
        function closeModal() {
            modal.classList.add('hidden');
        }
    </script>
    
     </div>   
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" defer></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js" defer></script>       
</body>
</html>
